.formIntro{
    text-align: center;
    margin: 100px 0 0;
}

.beginForm{
    display: inline-block;
    font-size: 1.1em;
    margin: 4px 4px 3px;
    padding: 4px 4px 3px;
    color: #ffc51b;
    border-bottom: 1px solid #ffc51b;
}

.beginForm:hover{
    background-color: #ffc51b;
    color: white;
    transition: left 7s ease-out;

}

.contactForm{
    display: block;
    margin: 2em;
}

.formQ{
    width: 100%;
    display: block;
    text-align: center;
}

.qHeader{
    display: block;
    float: left;
    width: 100%;
    text-align: left;
}

.qInput{
    margin: 0.5em auto 1em;
    height: 2em;
    width: 100%;
    border: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.qInputField{
    margin: 1em auto;
    height: 4em;
    width: 100%;
}

.hidden{
    display: none;
}

.button{
    display: block;
    float: right;
    text-align: center;
    width: 80px;
    margin: 4px 6px;
    padding: 6px;
    color: #000000;
    border: #000000 1px solid;
    border-radius: 20px ;
    transition: .3s;
}

.button:hover{
    background-color:#000000;
    border: #ffffff 1px solid;
    color: #ffffff;
    transition: .3s;
}

::placeholder { 
   font-style: italic;
   opacity: 0.8;
   padding-inline-start: 1em; 
  }

@keyframes beginFormA {
    0% {background-color: #ffffff;
        color: #000000;}

    100%{background-color: #ffc51b80;
         color: #ffffff;}
}