.footer {
    left: 0;
    bottom: 0;
    color: #000000;
    text-align: center;
    height: 40px;
    background-color: #f3f3f3;
    opacity: 0.9;
    width: 100%;
  }

.copyR{
  font-size: 10px;
  padding: 8px 0 4px;
}