.projectTitle {
    color: white;
    display: block;
    font-size: 18px;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.carousel.carousel-slider {
    position: relative;
    margin: auto;
    margin-top: 1em;
    overflow: hidden;
}

.projectLink{
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.projectLink:hover{
    color: white;
}
.titleSeperator{
    border: 1px solid white;
    width: 80%;
}
.descriptionContainer{
    margin-bottom: 2%;
}

.descriptor{
    color: white;
    font-size: 14px;
    padding: 2em;
    line-height: 1.5rem;
}

@media only screen and (min-width: 600px){
    
}