button:focus{
    outline: 1px dotted;
    outline: 5px auto white;
}

.navbar{
    padding: 0rem 1rem;
    color: rgba(0,0,0,.5);
}

.navButton:hover{
    width: 100%;
    background: rgba(255, 0, 0, 1);
    transition: 500ms;
    color: #f3f3f3 !important;
}

.navButton:hover > a{
    color: rgba(255, 255, 255, 0.9) !important
}

