p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    color: white;
    transition: 2s;
}

a:visited{
    color: white;
}

.carousel.carousel-slider {
    position: relative;
    margin: auto;
    margin-top: 1em;
    overflow: hidden;
}

.link{
    margin: 0;
    padding: 0;
}

.descriptor{
    font-size: 14px;
    padding: 2em;
    line-height: 1.5rem;
}
